:root {
  --neutral-lightest: #f6f1eb;
  --neutral-light: #efe6d7;
  --neutral: #f3e0c2;
  --neutral-dark: #a6927c;
  --neutral-darkest: #7e7063;

  --neutral-alt-light: #d4d2c7;
  --neutral-alt: #cdccc1;
  --neutral-alt-dark: #b9ad93;

  --primary-lightest: #e66521;
  --primary-light: #ed3d08;
  --primary: #d62936;
  --primary-dark: #9d1309;
  --primary-darkest: #4d0203;

  --secondary-lightest: #c7d6de;
  --secondary-light: #9ec2dc;
  --secondary: #025c95;
  --secondary-dark: #0f61c4;
  --secondary-darkest: #07225a;

  --black: #040507;
  --black-light: #757575;

  color: var(--black);
  text-align: center;
}

button {
  width: min(100%, 22rem);
  /* width: 100%; */
  border-radius: 32px;
  border: none;
  /* padding: 1rem 2rem; */
  transition: all 200ms;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  button {
    width: 14rem;
  }
}

button.neutral {
  background-color: var(--neutral-lightest);
  color: var(--neutral-darkest);
  box-shadow: 2px 2px 5px var(--neutral-darkest);
}

button.neutral:hover {
  background-color: var(--neutral-darkest);
  color: var(--neutral-lightest);
}

button.neutral.pressed {
  background-color: var(--neutral-darkest);
  color: var(--neutral-lightest);
  box-shadow: inset 2px 2px 5px #000000;
}

button.action {
  color: var(--neutral-lightest);
  background-color: var(--secondary-dark);
  box-shadow: 2px 2px 5px var(--secondary-darkest);
}

button.action:hover {
  background-color: var(--secondary);
}

button.action:focus {
  box-shadow: inset 2px 2px 5px var(--secondary-darkest);
}

.text-light {
  color: var(--neutral-lightest);
}

.font-medium {
  font-weight: 700;
}

.fullscreen {
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(closest-side, #f2e008, #f38b3d, #8b1439);
  padding: 0 2rem;
}

.logo {
  margin: 14vh 0;
  width: min(100%, 45rem);
  
}

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .form > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.space-around {
  margin: 0.5rem 0;
}

.space-between-items > * {
  margin: 0.25rem 0;
}

.card {
  border-radius: 0.5rem;
  padding: 4px;
  box-shadow: 1px 1px 2px rgba(166, 146, 124, 0.4);
  display: grid;
  user-select: none;
  position: relative;
  cursor: pointer
}

.unflipped {
  background-image: linear-gradient(
    to bottom right,
    var(--neutral),
    var(--neutral-light),
    var(--neutral)
  );
}

.red {
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--primary-dark),
    var(--primary)
  );
}

.blue {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-dark),
    var(--secondary),
    var(--secondary-dark)
  );
}

.none {
  background-image: radial-gradient(
    closest-corner,
    var(--neutral-alt-light),
    var(--neutral-alt),
    var(--neutral-alt-dark)
  );
}

.assassin {
  background-image: radial-gradient(
    closest-corner,
    var(--black-light),
    var(--black)
  );
}

.card > div {
  display: grid;
  border: 1px solid var(--neutral-dark);
  border-radius: 0.5rem;
}

.square-parent {
  margin: 0.25rem 0.25rem 0px 0.25rem;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-around;
}

.square-parent > div:nth-child(2) {
  width: 70%;
  border-top: 1px solid var(--neutral-dark);
}

.card i {
  font-weight: 800;
  font-size: 12px;
  color: var(--neutral-dark);
}

.card h3 {
  margin: 0.25rem;
  padding-top: 0.1rem;
  background-color: #ffffff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.square {
  width: 25%;
  background-color: var(--neutral-lightest);
  margin-top: 2px;
}

.player-view-container {
  background-color: var(--neutral-lightest);
  padding: 0.5rem;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (min-width: 900px) {
  .player-view-container {
    padding-top: 15%;
  }
}

.player-view {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.33rem;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .player-view {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-gap: 0.5rem;
  }
}

.menu {
  position: absolute;
  z-index: 10;
  right: 100%;
  top: 0;
  min-width: 10rem;
  padding: 1rem 4rem 4rem 1rem;
  background-image: linear-gradient(
    to bottom right,
    var(--neutral-dark),
    var(--neutral-darkest),
    var(--neutral-dark)
  );
  box-shadow: 2px 2px 5px var(--neutral-darkest);
  border-bottom-right-radius: 85%;
  transition: all 150ms;
}

@media only screen and (min-width: 600px) {
  .menu > * {
    display: block;
  }
}

.expanded {
  transform: translateX(100%);
}

.expand-menu {
  position: absolute;
  margin: 0;
  top: 0;
  left: 98%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: auto;
  padding: 1rem 1rem;
  background-image: linear-gradient(
    to bottom right,
    var(--neutral-darkest),
    var(--neutral-dark)
  );
  /* background: inherit; */
  box-shadow: 2px 2px 5px var(--neutral-darkest);
}

.expand-menu > :first-child {
  padding: 0;
  margin: 0;
}