:root {
  --neutral-lightest: #F6F1EB;
  --neutral-light: #EFE6D7;
  --neutral: #F3E0C2;
  --neutral-dark: #a6927c;
  --neutral-darkest: #7E7063;

  --primary-lightest: #E66521;
  --primary-light: #ED3D08;
  --primary: #D62936;
  --primary-dark: #9D1309;
  --primary-darkest: #4D0203;

  --secondary-lightest: #C7D6DE;
  --secondary-light: #9EC2DC;
  --secondary: #0A72A6;
  --secondary-dark: #0F61C4;
  --secondary-darkest: #07225A;

  color: #000000;
  text-align: center;
}

button {
  /* width: min(100%, 20rem); */
  width: 100%;
  border-radius: 32px;
  border: none;
  /* padding: 1rem 2rem; */
  transition: all 200ms;
}

button.neutral {
  background-color: var(--neutral-lightest);
  color: var(--neutral-darkest);
  box-shadow: 2px 2px 5px var(--neutral-darkest);
}

button.neutral:hover {
  background-color: var(--neutral-darkest);
  color: var(--neutral-lightest);
}

button.neutral.pressed {
  background-color: var(--neutral-darkest);
  color: var(--neutral-lightest);
  box-shadow: inset 2px 2px 5px #000000;
}

button.action {
  color: var(--neutral-lightest);
  background-color: var(--secondary-dark);
  box-shadow: 2px 2px 5px var(--secondary-darkest);
}

button.action:hover {
  background-color: var(--secondary);
}

button.action:focus {
  box-shadow: inset 2px 2px 5px var(--secondary-darkest);
}

.text-light {
  color: var(--neutral-lightest);
}

.font-medium {
  font-weight: 700;
}

.fullscreen {
  min-height: 100vh;
}

.home {
  background: radial-gradient(closest-side, #F2E008, #F38B3D, #8B1439);
  padding: 0 2rem;
}

.logo {
  margin: 14vh 0;
  width: min(100%, 45rem)
}

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.space-around {
  margin: .5rem 0;
}

.space-between-items > * {
  margin: .25rem 0;
}

.card {
  background-color: var(--neutral);
  border-radius: .5rem;
  padding: 8px;
}

.card > div {
  border: 2px solid var(--neutral-dark);
  border-radius: .5rem;
}

.square-parent {
  margin: .5rem;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-around;
}

.square-parent > div:nth-child(2) {
  width: 70%;
  border-top: 2px solid var(--neutral-dark);
}

.card i {
  font-weight: 700;
  color: var(--neutral-darkest);
}

.card h3 {
  margin: .5rem;
  background-color: #ffffff;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.square {
  width: 30%;
  height: 40%;
  background-color: var(--neutral-lightest);
}